.comment.comment--variant-2
  .group
    span.icon-user
    span.comment__owner Руслан Васильевич,
    ul.rating
      li.active(style="width: 20%")
        span.star1
      li
        span.star2
      li
        span.star3
      li
        span.star4
      li
        span.star5

    span.comment__date 11.03.2015
    
  p.comment__message Пользуюсь печью Везувий 100 уже вторую зиму, печь пригодна для отопления небольших помещений без постоянного зимнего проживания, типа летней кухни или дачного домика с периодическими наездами. Время горения на одной закладке порядка 2-3 часов. Достоинства: Качество исполнения, небольшие габариты, удобство эксплуатации. Недостатки: Не комплектуется шибером.