.comment
  .comment__header
    .group
      span.icon-user
      span.comment__owner Руслан Васильевич,
      span.comment__date 11.03.2015
    
    .group
      span.icon-question-orange 
      span.comment__title Как герметизировать проход трубы на крыше?

  span.icon-message
  p.comment__message Для герметизации выхода через кровлю используются специальные крышные проходки MasterFlash под соответствующий диаметр трубы и угол наклона к рыши (выпускаются проходки под угол наклона 0-25° и 30-55°). Выпускаются 6 цветов: зеленая, коричневая, красная, серая, терракотовая, черная. Разделка устанавливается сверху на кровлю. Герметичность в месте стыковки крышной разделки и крыши достигается с помощью силиконового герметика. Проходка крепится при помощи кровельных саморезов. Также в нашем ассортименте есть жесткие проходки кровли сделанные из нержавеющей стали. При вашем желании их можно покрасить в цвет крыши.