footer#footer.footer

  .visible-desktop.panel
    .tablet-menu

      .toggle-btn
        .submenu-toggle
      .footer__title.margin-bottom-0 Интернет магазин 
      

      ul.footer-menu.hidden.js-footer-menu
        li
          a(href="#!") Каталог товаров
        li
          a(href="#!") Товары со скидками
        li
          a(href="#!") Хиты продаж
        li
          a(href="#!") Личный кабинет
        li
          a(href="#!") Доставка
        li
          a(href="#!") Установка
        li
          a(href="#!") Вопрос - Ответ
        li
          a(href="#!") Пункты выдачи

    .tablet-menu

      .toggle-btn
        .submenu-toggle
      .footer__title.margin-bottom-0 Как сделать заказ? 
      
      ul.footer-menu.hidden.js-footer-menu
        li
          a(href="#!") Безналичный расчет
        li
          a(href="#!") Нашли дешевле?

    .tablet-menu

      .toggle-btn
        .submenu-toggle
      .footer__title.margin-bottom-0 Техническая информация 

      ul.footer-menu.hidden.js-footer-menu
        li
          a(href="#!") Советы мастеров
        li
          a(href="#!") Статьи
        li
          a(href="#!") Ответы на частые вопросы
        li
          a(href="#!") Монтаж

  .container

    .footer__section.hidden-tablet
      .footer-logo
        img(src="images/logo-grey.png", alt="logo")
      .payment
        .title Мы принимаем:
        .payment-list
          span.visa
          span.mastercard
          span.visa-electron

    .footer__section
      .footer-info
        .phone
          <span class="icon-phone"></span>
          a(href="#!") 8 (812) 956-24-22, 952-19-60

        .shedule 
          <span class="icon-clock"></span> Мы работаем с 1000 до 2000
        .mail
          <span class="icon-mail"></span>
          a(href="#!") mail_sale@superpechi.ru
      
      .footer__title <span class="icon-location"></span> Наши магазины:

      ul.check-list
        li ТД "Сервант" – Улица Народная, дом 55 
        li ТК "СтройДвор" – Проспект Энгельса, дом 138 корпус 1 
        li ТК "СтройДвор"– Проспект Ветеранов, дом 109 корпус 4 
        li ТД "Невский"– Митрофаньевское шоссе, дом 17 

    .footer__section.hidden-section
      .footer__title Интернет магазин 

      ul.footer-menu
        li
          a(href="#!") Каталог товаров
        li
          a(href="#!") Товары со скидками
        li
          a(href="#!") Хиты продаж

      ul.footer-menu
        li
          a(href="#!") Личный кабинет
        li
          a(href="#!") Доставка
        li
          a(href="#!") Установка
        li
          a(href="#!") Вопрос - Ответ
        li
          a(href="#!") Пункты выдачи

    .footer__section.hidden-section
      .footer__title Как сделать заказ? 
      
      ul.footer-menu
        li
          a(href="#!") Безналичный расчет
        li
          a(href="#!") Нашли дешевле?

      .footer__title Техническая информация 

      ul.footer-menu 
        li
          a(href="#!") Советы мастеров
        li
          a(href="#!") Статьи
        li
          a(href="#!") Ответы на частые вопросы
        li
          a(href="#!") Монтаж


// #footer
script(src='js/jquery-2.2.0.min.js')
script(src='js/jquery.formstyler.min.js')
script(src='js/jquery.flexslider-min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.fancybox.js')
script(src='js/nouislider.min.js')
script(src='js/main.js')