.carousel-product
  .carousel-product__image
    img(src="https://api.fnkr.net/testimg/100x120/ff701d/FFF/?text=fake image", alt="image")
  .carousel-product__name
    a(href="#!") Теплообменник универсальный для печей 
  .carousel-product__price 3850
    span p.
  a(href="#!").btn.btn-max <span class="icon-cart"></span> Купить