.product
  .product__image.product__image--top
    img(src="images/product-1.jpg" alt="fake-img")
    .availability.availability--avalible
      .availability__title В наличии
      span.availability__icon
  .product__body
    h2.product__name 
      a(href="#!") Дровяная печь-камин MBS Vesta
    span.product__old-price 35 250 р.
    span.product__price 17 243 р.
    .btn-wrap
      a(href="#!").btn <span class="icon-cart"></span> Купить
    a(href="#!").answer-link.hidden-mobile Перезвоним за 33 сек.