.product-modify
  a(href="#!").product-modify__name Везувий УЮТ-100 С
  .product-modify__body 
    .product-modify__image
      img(src="https://api.fnkr.net/testimg/160x160/ff701d/FFF/?text=fake image", alt="image")

    .availability.availability--avalible
      .availability__title В наличии
      span.availability__icon

    .product-modify__old-price 35 250 р.

    .product-modify__price 14 390 р.

    span.product__currency 500 y.e.
      span.icon-question
