.yandex-block
  img(src="images/yandex.png", alt="yandex-logo")
  ul.rating.rating--no-hover
    li.active(style="width: 80%")
      span.star1
    li
      span.star2
    li
      span.star3
    li
      span.star4
    li
      span.star5
        
  a(href="#!") Читать отзывы 
    span.hidden-mobile магазина