doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    .wrapper

      //= template/header.jade

      section#middle.main
        .container.clearfix
          .aside.aside-width

          .content
  
            .clearfix
              //= template/yandex-modul.jade
              h1.title-h1 Печи и камины в Санкт-Петербурге по низким ценам 
            
            .flexslider.banner-slider.main-banner
              ul.slides
                li
                  img(src="images/main-banner.jpg", alt="banner-image")
                  .main-banner__caption
                    .main-banner__brand
                      img(src="images/banner-brand.jpg", alt="banner-brand")
                    .main-banner__title Печи камины из чугуна - 
                    .main-banner__text недорогие, практичные и готовые к использованию
                li
                  img(src="images/main-banner.jpg", alt="banner-image")
                  .main-banner__caption
                    .main-banner__brand
                      img(src="images/banner-brand.jpg", alt="banner-brand")
                    .main-banner__title Печи камины из чугуна - 
                    .main-banner__text недорогие, практичные и готовые к использованию
                li
                  img(src="images/main-banner.jpg", alt="banner-image")
                  .main-banner__caption
                    .main-banner__brand
                      img(src="images/banner-brand.jpg", alt="banner-brand")
                    .main-banner__title Печи камины из чугуна - 
                    .main-banner__text недорогие, практичные и готовые к использованию
                li
                  img(src="images/main-banner.jpg", alt="banner-image")
                  .main-banner__caption
                    .main-banner__brand
                      img(src="images/banner-brand.jpg", alt="banner-brand")
                    .main-banner__title Печи камины из чугуна - 
                    .main-banner__text недорогие, практичные и готовые к использованию

            
              

            .week-sales
              .week-sales__header <span class="icon-magic-wand"></span> Акция недели
              img(src="images/week-sale.jpg", alt="item-image")
              .week-sales__footer
                .week-sales__name Печь для бани
                .week-sales__detail Greivari Кирасир 10 Finka
                .week-sales__old-price 21 381 руб. 
                .week-sales__price 17 990 руб.
                .week-sales__deadline Только до 21.09.2016

          .facts.facts--main.row.clear
            .col-sm-6.col-lg-3
              .fact.fact--big
                span.fact__icon.icon-1
                span.fact__title Доставка
                p.fact__text Бесплатная доставка - 50 км! А также до транспортной компании.

            .col-sm-6.col-lg-3
              .fact.fact--big
                span.fact__icon.icon-2
                span.fact__title Пункты выдачи
                p.fact__text 4 пункта выдачи в Санкт- Петербурге + большой склад

            .col-sm-6.col-lg-3
              .fact.fact--big
                span.fact__icon.icon-3
                span.fact__title Монтаж печей
                p.fact__text Установка печей, каминов. Фото выполненных работ,14 монтажных бригад

            .col-sm-6.col-lg-3
              .fact.fact--big
                span.fact__icon.icon-4
                span.fact__title Торг уместен
                p.fact__text Напишите свое пожелание по цене и мы свяжемся с Вами максимально быстро.

          .section
            .page-title <span class="icon-sale-grey"></span> Товары со скидками
              a(href="#!") Посмотреть все
              .carousel-wrap
                .owl-carousel.main-carousel
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade
                  .item
                    //= template/product-main.jade

          .section
            .page-title <span class="icon-like-grey"></span> Хиты продаж
              a(href="#!") Посмотреть все
              .carousel-wrap
                .owl-carousel.main-carousel
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.
                  .item
                    .product.product--main
                      .product__image.product__image--top
                        img(src="images/product-1.jpg" alt="fake-img")
                        .availability.availability--avalible
                          .availability__title В наличии
                          span.availability__icon

                      .product__body
                        h2.product__name 
                          a(href="#!") Дровяная печь-камин MBS Vesta
                      .product__prices-wrap
                        span.product__like-icon
                        span.product__price 17 243 р.

                    

  
          .row
            .col-md-6
              .page-title <span class="icon-notice"></span> Большой модельный ряд печей и каминов в наших магазинах
              p Печи-камины, банные печи, котлы - наша основная специализиция в городе Санкт-Петербург. Ассортимент магазина включает такие группы товаров как:
              ul.orange-check-list
                li Печи для бань и саун на дровах (эконом, среднего, экспертного и VIP класса), электро-каменки для саун, баки и емкости для воды, банные принадлежности – камни для банных печей (габбро-диабаз, талькохлорит, парфир и жадеит), деревянные аксессуары (ковши, запарники, термометры и т.д.), светильники, изделия из войлока (шапки, варешки), эфирные масла и травы, двери и форточки парной, термоизоляционные материалы и многое другое… Одним словом все для бани!
                li Печи-камины для загородного дома, дачи и коттеджа. Различные варианты каминов по функциональности и любых интерьерных решений (варочные печи для приготовления пищи, с духовыми шкафами для выпечки, камины с теплообменником для водяной системы отопления всего дома, угловые и пристенные варианты, печи в облицовке керамической плиткой, изразцом и кафелем, а так же натуральным природным камнем – талькохлорит, гранит и мрамор).
                li Отопительные воздухогрейные котлы на твердом топливе длительного горения, способные обогреть жилое или производственное помещение от 100 до 1000 куб. м.
                li Чугунные и стальные каминные топки, кассеты, вставки…  - сердце камина.
                li Облицовки для каминов из мрамора, песчаника и архитектурного камня, угловые и пристенные, цветовые решения… - дизайн и стиль камина.
                li Каминные аксессуары (экраны, наборы, дровницы и т.д.)
                li Товары для печника – печное и каминное литье (от колосника до задвижки дымохода), сухие смеси для кладки и герметики. 
                li Металлические и керамические дымоходные системы для всех видов печей и каминов, гидро- и термо- изоляционные материалы.

              p И все это в одном городе, в одном месте, в наличии, по приятной цене, одним словом - интернет магазин печей и каминов это уникальное явление в сфере продажи отопительного и банного оборудования, теперь любой желающий купить печь или камин, имеет возможность сделать это максимально быстро, удобно и выгодно.

            .col-md-6
              .page-title <span class="icon-location-grey"></span> Наши магазины на карте
              .map
                script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=IpRQ4Qs8XUa4eAN5TPRHvv-5bbOhxWL9&width=100%25&height=100%&lang=ru_RU&sourceType=constructor&scroll=true')



      .page-buffer

    //= template/footer.jade
